{% load static %}
<div class="bg-secondary w-75" style="margin: 0 auto;margin-bottom: 20px; border-radius: 20px;">
    <p class="text-center text-white h3">Movies registered in <strong>{{ cinema_name}}</strong> cinema!</p>
</div>
<div class="container">
    <div class="row">
  
      {% for mv in movies %}
        <div class="col-3 col-md-4" id="movie-card">
          <div class="card" >
            <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title bg-light" style="text-align: center;font-size:35px;border-radius: 20px;">{{ mv.title }}</h5>
              <p class="card-text"><strong>Cinema:</strong> {{ mv.cinema }}</p>
              <p class="card-text"><strong>Category:</strong> {{ mv.category }}</p>
              <p class="card-text"><small class="text-muted">Starts at: <b>{{ mv.start_date }}</b></small></p>
              <p class="card-text"><small class="text-muted">Ends at: <b>{{ mv.end_date }}</b></small></p>
  
              <div class="d-flex justify-content-between">
                <a href="{% url 'manage-movie' id=mv.id %}" class="btn btn-outline-primary" id="edit-btn">Edit</a>
                <button type="button" class="btn btn-danger" onclick="del($(this));">Delete</button>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <p>No movies...</p>
      {% endfor %}

<script type="text/javascript">

// function del($this) {
//     var mvid = $this.data('movieid');
//         $.ajax({
//             type: "DELETE",
//             url: "ajax/manage-movie/".concat(mvid),
//             dataType: "json",
//             data: {
//               id : mvid, 
//               uid : uid
//              },
//             success: function(response) {
//                 $("div.card").remove(".".concat(mvid));
//                 $("div.row").empty();
//                 setTimeout(function(){// wait for 5 secs(2)
//                   reload(); // then reload the page.(3)
//                 }, 200);
//             },
//             error: function(rs, e) {
//                 // console.log(".".concat(mvid))
//                 alert(rs.responseText);
//             }
//             }); 
//     }

</script>