{% load static %}
<div class="container">
  <div class="row">

    {% for mv in movies %}
      <div class="col-3 col-md-4" id="movie-card">
        <div class="card ">
          <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;font-size:35px">{{ mv.title }}</h5>
            <p class="card-text"><strong>Cinema:</strong> {{ mv.cinema }}</p>
            <p class="card-text"><strong>Category:</strong> {{ mv.category }}</p>
            <p class="card-text"><small class="text-muted">Starts at: <b>{{ mv.start_date }}</b></small></p>
            <p class="card-text"><small class="text-muted">Ends at: <b>{{ mv.end_date }}</b></small></p>
            <!-- v<a href="#" class="btn btn-primary">Go somewhere</a> -->
            <button><i class="fas fa-heart"></i></button>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No movies...</p>
    {% endfor %}
      
  </div>
</div>
