{% load static %}
<div class="card-columns ">
{% for mv in movies %}
    <div class="card">
      <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ mv.title }}</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><strong>Cinema:</strong> {{ mv.cinema }}</p>
        <p class="card-text"><strong>Category:</strong> {{ mv.category }}</p>
        <p class="card-text"><small class="text-muted">Starts at:</small></p>
        <p class="card-text"><small class="text-muted">Ends at:</small></p>
        <!-- v<a href="#" class="btn btn-primary">Go somewhere</a> -->
        <button><i class="fas fa-heart"></i></button>
      </div>
    </div>
{% endfor %}
</div>
    