body{
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
}

.navbar-title{
    padding-right: 20px;
}

.navbar-brand{
    font-weight: bolder;
    font-size: 25px;
}

.card-colums{
    height: min-content;
}
.main-container {
    /* background-color:blue; 
    width: 90%;
    height:max-content;
    margin-left: 50px; */
}

#movie-card {
    margin-bottom: 20px;
}